body {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  margin: 0;
  flex-direction: column;
  text-shadow: 0.25rem 0.25rem white, 0.5rem 0.5rem red, 0.75rem 0.75rem orange, 1rem 1rem yellow, 1.25rem 1.25rem green, 1.5rem 1.5rem blue, 1.75rem 1.75rem darkblue, 2rem 2rem purple;
  font-weight: bold;
  font-family: 'Liberation Serif', serif;
  word-break: break-word;
  font-size: 10rem;
  padding-bottom: 2rem;
  text-align: center;
  box-sizing: border-box;
}

body > * {
  margin: 1rem;
  padding-right: 2rem;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 8rem;
  }
}

@media screen and (max-width: 425px) {
  body {
    font-size: 5rem;
  }
}
